.texto-contato{
    color:rgb(53, 53, 53);
}

.texto-contato:hover{
    color:rgb(53, 53, 53);
}

.botao-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:20px;
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.2s ease-in-out, width 0.5s linear;
}

.botao-contato:hover{
    background-color:rgba(255, 255, 255, 0.61);
}

#send{
    align-self: center;
    width: 30%;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(27, 27, 27);
    color:whitesmoke;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, width 0.5s linear;
}

#send:hover{
    background-color: rgb(15, 15, 15);
}