#icon-container{
    align-self: center;
    margin-top: 34px;
    width: 139px;
    height: 139px;
    border-radius: 10%;
}

#imagem-escritorio{
    display:flex;
    width: 600px;
    height: 400px;
    border-radius: 50px;
    padding: 10px 10px;
    margin-top: 10%;
    margin-left: 5%;
}