#icon-container{
    align-self: center;
    margin-top: 34px;
    width: 139px;
    height: 139px;
    border-radius: 10%;
}

#imagem-escritorio{
    width: 600px;
    height: 400px;
    border-radius: 50px;
    padding-left: 5%;
    padding-top: 5%
    
}