#icon-container{
    align-self: center;
    margin-top: 34px;
    width: 139px;
    height: 139px;
    border-radius: 10%;
}

#imagem-escritorio{
    width: 600px;
    height: 400px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#imagem-code{
    width: 600px;
    height: 400px;
    border-radius: 30px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#area-icons-cnt{
    display:flex;
    flex-direction: row;
    gap:20px
}
.icons-cnt{
    height: 35px;
    
}
