@font-face {
    font-family: 'FontInter';
    src: url('../fonts/Inter_24pt-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontInter-Bold';
    src: url('../fonts/Inter_18pt-Bold.ttf');
    font-weight: normal;
    font-style:bold;
}

@font-face {
    font-family: 'JollyLodger-Regular';
    src: url('../fonts/JollyLodger-Regular.ttf');
}

body{
    background-color: rgba(58, 58, 58, 1);
    color:aliceblue;
    font-family: 'FontInter';
}

a{
    text-decoration: none;
    color:aliceblue;
    font-weight: lighter;
    transition: color 0.2s ease-in-out, width 0.5s linear;

}

a:hover{
text-decoration: none;
color: rgba(240, 248, 255, 0.671);
}

h1,h2,h3{
    font-family: 'FontInter-Bold';
}

p{
    color:rgb(240, 248, 255);
}

#text-area{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    margin-left: 30px;
    gap: 20px;
}

.subtitle{    
    color:rgba(240, 248, 255, 0.555);
    font-size: 17px;
    grid-area: subtitle;
}

.title{
    font-size: 23px;
}




#container{
    width: 320px;
    height: 340px;
    background-color: rgb(92, 92, 92);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    grid-area: container;
    margin-left: 90px;
}



#info-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#nick-container{
    text-align: center;
    margin-top: 15px;
}

#desc-container{
    margin-top: 5px;
}

#contato-container{
    margin-top:20px ;
}

#div-img{
    display: flex;
    align-items: center;
    grid-area: escritorio;
}

#div-img2{
    display: flex;
    align-items: center;
    grid-area: gray-code;
}

#text-area2{
    display:flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    width: 70%;
    grid-area: area-texto2;
    gap:10px;
}

#text-area3{
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 70%;
    grid-area: area-texto3;
    gap:10px;
}

#primeira-tela{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "container text";
    height: 80vh;
}
#tela-sobre{
    background-color: rgb(44, 44, 44);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "escritorio area-texto2";
    height: 660px;
}

#tela-projetos{
    background-color: rgb(31, 31, 31);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "area-texto3 gray-code";
    height: 660px;
}

#tela-contato{
    background-color:#ffffff;
    height: 360px;
    color:black;
    
}

#card-contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(235, 237, 236);
    width: 92%;
    height: 60%;
}