@font-face {
    font-family: 'FontInter';
    src: url('../fonts/Inter_18pt-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: rgba(58, 58, 58, 1);
    color:aliceblue;
    font-family: 'FontInter';
}
a{
    text-decoration: none;
    color:aliceblue;
}

a:hover{
text-decoration: none;
}
