@font-face {
    font-family: 'FontInter';
    src: url('../fonts/Inter_24pt-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontInter-Bold';
    src: url('../fonts/Inter_18pt-Bold.ttf');
    font-weight: normal;
    font-style:bold;
}

@font-face {
    font-family: 'JollyLodger-Regular';
    src: url('../fonts/JollyLodger-Regular.ttf');
}

body{
    background-color: rgba(58, 58, 58, 1);
    color:aliceblue;
    font-family: 'FontInter';
}

a{
    text-decoration: none;
    color:aliceblue;
    font-weight: lighter; /* "Extra Light" */

}

a:hover{
text-decoration: none;
}

h1,h2,h3{
    font-family: 'FontInter-Bold';
    
}

p{
    letter-spacing: -1px;
    color:rgb(240, 248, 255);
}

#subtitle{
    color:rgba(240, 248, 255, 0.555);
    font-size: 28px;
}

#menu-navegacao{
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(53, 53, 53);
    
}

#menu-principal{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    gap:117px;
    margin-left:0px ;
}

#logotipo{
    font-size: 30px;
    font-family: 'JollyLodger-Regular';
    display: flex;
    flex-direction:row;
    justify-content: start;
    margin-left: 30px;
    
}
#texto-contato{
    color:rgb(53, 53, 53);

}

#botao-contato{
    border-radius:20px;
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction:row;
    justify-content: end;
    margin-right: 30px;
    background-color: antiquewhite;
    
}

#container{
    width: 320px;
    height: 340px;
    background-color: rgb(92, 92, 92);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}


#icon{
    margin-top: 34px;
    width: 139px;
    height: 139px;
    border-radius: 10%;
}