@font-face {
    font-family: 'FontInter';
    src: url('../fonts/Inter_18pt-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontInter-Bold';
    src: url('../fonts/Inter_18pt-Bold.ttf');
    font-weight: normal;
    font-style:bold;
}

body{
    background-color: rgba(58, 58, 58, 1);
    color:aliceblue;
    font-family: 'FontInter';
}

a{
    text-decoration: none;
    color:aliceblue;
}

a:hover{
text-decoration: none;
}

h1,h2,h3{
    font-family: 'FontInter-Bold';
    letter-spacing: -1px;
}

p{
    letter-spacing: -1px;
    font-size: 28px;
    color:rgba(240, 248, 255, 0.637);
}

#menu-navegacao{
    font-size: 22px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

#logotipo{
    display: flex;
    flex-direction:row;
}

#botao-contato{
    display: flex;
    flex-direction:row;
}
#container{
    background-color: rgb(92, 92, 92);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    
}


#icon{
    width: 199px;
    height: 199px;
    border-radius: 10%;
}